<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Partial</title>
    <link rel="stylesheet" href="/assets/styles/layout.css" />
    <link rel="stylesheet" href="/assets/styles/content.css" />
  </head>
  <footer>
    <h2 title="Contact Info" class="contact-header">Contact Information</h2>
    <div class="contact">
      <p>Location: Centerville, OH</p>
      <p>Phone: 937-674-1033</p>
      <p>Email: timmonsevan@gmail.com</p>
    </div>
  </footer>
</html>
