<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random MTG Card Drawer</title>
  </head>
  <div class="content-container">
    <h2>Random MTG Card</h2>
    <button id="mtg-card-btn">Draw a card!</button>
    <div id="mtg-card-display">
      <img id="mtg-card-img" src="" alt="" hidden />
      <p id="mtg-card-error" hidden></p>
    </div>
  </div>
</html>
