#parallax-bg {
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  background-image: url("/assets/images/background_pic.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  z-index: -1;
  will-change: transform;
}

@media (max-width: 768px) {
  #parallax-bg {
    background-size: 60% auto;
  }
}
